<p>
    <strong>Name :</strong>
    <%= event.name %>
  </p>
  <p>
    <strong>Venue :</strong>
    <%= event.venue %>
  </p>
 
  <p>
    <strong>description:</strong>
    <%= event.description %>
  </p>